.App {
  text-align: center;
  background: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logonaminto {
  width: 200px !important;
}

.Klogo {
  margin-left: 0px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headerPosition{
  position: fixed !important;
  top: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  background-color: white;
  width: 100%;
}

.header {
  display: inline-flex;
}

.mainContent {
  margin-top: 200px;
}

.homeimage {
  background-image: url('../src/house-home-page.jpg');
  background-size: cover;
}

.mainMenu {

margin-top: 10px;
margin-left: 100px;
}

.mainMenu button{
    margin: 2px; 
}
.mainMenu button:hover {
  background-color: black;
  color: white;
}

.form-control {
  margin-bottom: 20px;
}

.contactFormHeader {
  padding-top: 50px;
}

.rounded.bg-black.text-white {
  margin-bottom: 30px;

}

.slideslide img {
  max-height: 500px !important;
  max-width: auto !important;
}

.footer {
  position: fixed !important;
  bottom: -15px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  background-color: white;
  width: 100%;
}

.listinfo {
  background-color: white;
  color: black;
}

/* .slideslide {
  
} */